body *{
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: lightgray;
}

.page {
    width: 850px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
    height:auto
}

.vis-container {
    width: 100%;
}

.description h2,
h1 {
    margin-top: 0px;
}


.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 40px;
}

.small-font {
    font-size: 14px;
}

.center-text {
  text-align: center;
}

.push-right {
  padding-left: 60px;  
}

.vis-narrow {
  max-width: 4000px; 
  margin: 0 auto;
}


h1 {
    font-family: 'Open Sans', serif; 
    font-weight: 700;
    background-color: #CEC2EB;
    color: #000000;
    padding: 20px;
    border-radius: 8px;
    text-align: center;      
    margin-bottom: 20px;
}

h1 .subtext {
    display: block;
    font-family: 'Open Sans', sans-serif; 
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    margin-top: 8px;
}

h3 {
    font-family: 'Open Sans', serif; 
    font-size: 20px;
    font-weight: 600;
    background-color: #EBE8FC;
    color: #000000;
    padding: 20px;
    border-radius: 8px;
    text-align: center;      
    margin-bottom: 20px;
}

.outline_container {
  box-sizing: border-box;
  width: 100%;        
  max-width: 100%;
  margin: 0 auto 32px;  
  padding: 20px;
  border: 2px solid #B19CD7;
  border-radius: 8px;
  background-color: #EBE8FC;
  box-shadow: 0 4px 8px rgba(0,0,0,.2);
  text-align:center;
}

/* this is to make sure that the box takes up the whole width of the container*/
.pure-g .outline_container,
.pure-u-1, .pure-u-1-1 .outline_container {
  width: 100%;
}

/* this is creating the key statistics summary cards */
.bb-cards{
  width: 100%;
  margin-left: -8px;
  margin-right: 8px;
}

.bb-cards > [class*="pure-u"]{
  padding: 0 14px;       
  box-sizing: border-box;
}

.bb-card{
  background: #fff;
  border-radius: 14px;
  padding: 24px 28px;
  text-align: center;

  box-shadow:
    0 14px 30px rgba(0,0,0,0.14),
    0 6px 12px rgba(0,0,0,0.10);

  border: 1px solid rgba(0,0,0,0.06);
  border-left: 6px solid #B19CD7;
  border-bottom:6px solid #B19CD7;
  background-clip: padding-box;
  height: 50%;
  width: 80%;
}
.bb-value{ font-size: 2.2rem; font-weight: 800; color: #333333; margin-bottom: .4rem; }
.bb-label{ color: #6b7280; font-size: 1.05rem; }


/* this to remove the extra chunk of white space at the bottom of the page */
.pure-g:last-child,
.page > .pure-g:last-of-type {
  margin-bottom: 0 !important;
}
